body {
    background-color: white;
  }
  
  #wrapper {
    margin: 1em auto;
    width: 470px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 100px 477px 100px;
    box-shadow: 13px 13px 10px gold;
    background-color: white;
  }
  
  header {
    grid-column: 2/ span 5;
    height: 100px;
    background-color: goldenrod;
  }
  
  h1 {
    padding: 37px;
    font-size: 15px;
    margin: 0;
    color: black;
    text-shadow: 2px 2px 2px goldenrod;
    font-family: "Audiowide", sans-serif;
  }
  
  
  nav {
    width: 100px;
    grid-column: 1/ span 1;
    grid-row: 1;
    background-color: black;
    grid-row-end: 4;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  nav ul {
    background-color: white;
    width: 74px;
    margin: 15px 15px 35px 15px;
    padding: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 6px;
  }
  
  nav li {
    width: 60px;   
    background-color: goldenrod;
    display: block;
    margin: 20px 0px 20px -15px;
    text-align: center;
    box-shadow: 10px 10px 10px gold;
    transition: background-color 1.0s, color 1.0s; 
    font-family: "Audiowide", sans-serif; 
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  nav li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px 0px;
  }
  
  nav li:hover {
    background-color:black;
  }
  
  nav li a:hover {
    color: gold;
  }
  
  
  main {
    grid-column: 2/ span 5;
  }
  
  h4 {
    text-align: center;
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 2px black;
    font-family: "Audiowide", sans-serif; 
    font-size: 20px;
    margin-top: 35px;
    margin-bottom: 0px;
    font-style: italic;
  }


  h2 {
    font-size: 11px;
    }
  

  
  footer {
    grid-column: 2/ span 5;
    background-color: goldenrod;
    box-shadow: 13px 13px 10px gold;
  }
  
  
  @media all and (min-width: 36rem){
    body {
      background-color: white;
    }
  
    #wrapper {
      margin: 1em auto;
      width: 700px;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: 100px 477px 100px;
      box-shadow: 13px 13px 10px gold;
    }
    
    header {
      grid-column: 2/ span 5;
      height: 100px;
      background-color: goldenrod;
    }
    
    h1 {
        padding: 37px;
        font-size: 25px;
        margin: 0;
        color: black;
        text-shadow: 2px 2px 2px goldenrod;
        font-family: "Audiowide", sans-serif;
      }
    
    nav {
      width: 117px;
      grid-column: 1/ span 1;
      grid-row: 1;
      background-color: black;
      grid-row-end: 4;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }
    
    nav ul {
      background-color: white;
      width: 90px;
      margin: 15px 15px 35px 15px;
      padding: 20px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      font-size: 8px;
    }
    
    nav li {  
      width: 71px; 
      height: 44px;
      background-color: goldenrod;
      display: block;
      margin: 20px 0px 20px -13px;
      text-align: center;
      box-shadow: 10px 10px 10px gold;
      transition: background-color 1.0s, color 1.0s; 
      font-family: "Audiowide", sans-serif; 
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    
    nav li a {
      color: white;
      text-decoration: none;
      display: block;
      padding: 15px 0px;
    }
    
    nav li:hover {
      background-color:black;
    }
    
    nav li a:hover {
      color: gold;
    }
    
    main {
      grid-column: 2/ span 5;
    }
    
    h4 {
        text-align: center;
        text-decoration: none;
        color: white;
        text-shadow: 2px 2px 2px black;
        font-family: "Audiowide", sans-serif; 
        font-size: 20px;
        margin-top: 35px;
        margin-bottom: 0px;
        font-style: italic;
      }

      h2 {
        font-size: 13px;
        }
  
    
    footer {
      grid-column: 2/ span 5;
      background-color: goldenrod;
      box-shadow: 13px 13px 10px gold;
    }
  
  }
  
  @media all and (min-width: 60rem){
  
    #wrapper {
      margin: 1em auto;
      width: 1200px;
      display: grid;
      grid-template-columns: repeat(14, 1fr);
      grid-template-rows: 100px 525px 100px;
      box-shadow: 13px 13px 10px gold;
    }
  
    body { 
      max-width: 1200px; margin: 0rem auto; 
      display: grid;
      background-color: white;
    }
    
    header {
      grid-column: 3/ span 12;
      height: 100px;
      background-color: goldenrod;
    }
    
    h1 {
        padding: 37px;
        font-size: 35px;
        margin: 0;
        color: black;
        text-shadow: 2px 2px 2px goldenrod;
        font-family: "Audiowide", sans-serif;
      }
   
    nav {
      width: 183px;
      grid-column: 1/ span 2;
      background-color: black;
      grid-row-end: 4;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }
    
    nav ul {
      background-color: white;
      width: 151px;
      margin: 15px 15px 35px 15px;
      padding: 20px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      font-size: 13px;
    }
    
    nav li { 
      width: 125px;  
      background-color: goldenrod;
      display: block;
      margin: 20px -10px 20px -10px;
      text-align: center;
      box-shadow: 10px 10px 10px gold;
      transition: background-color 1.0s, color 1.0s; 
      font-family: "Audiowide", sans-serif; 
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    
    nav li a {
      color: white;
      text-decoration: none;
      display: block;
      padding: 15px;
    }
    
    nav li:hover {
      background-color:black;
    }
    
    nav li a:hover {
      color: gold;
    } 
    
    main {
      grid-column: 3/ span 12;
    }
    
    h4 {
        text-align: center;
        text-decoration: none;
        color: white;
        text-shadow: 2px 2px 2px black;
        font-family: "Audiowide", sans-serif; 
        font-size: 30px;
        margin-top: 35px;
        margin-bottom: 0px;
        font-style: italic;
        margin-right: 550px;
      }

      h2 {
      font-size: 18px;
      }
    
    footer {
      grid-column: 3/ span 12;
      background-color: goldenrod;
      box-shadow: 13px 13px 10px gold;
    }
    
  }
  
  
  