body {
  background-color: white;
}

#wrapper {
  margin: 1em auto;
  width: 450px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 100px 477px 100px;
  box-shadow: 13px 13px 10px rgb(110, 209, 110);
  background-color: white;
}

header {
  grid-column: 2/ span 5;
  height: 100px;
  background-color: green;
}

h1 {
  padding: 39px 22px;
  font-size: 18px;
  margin: 0;
  color: white;
  font-style: italic;
  text-shadow: 2px 2px 2px darkgreen;
  font-family: "Audiowide", sans-serif;
}

nav {
  width: 100px;
  grid-column: 1/ span 1;
  grid-row: 1;
  background-color: black;
  grid-row-end: 4;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

nav ul {
  background-color: white;
  width: 36px;
  margin: 15px 15px 35px 15px;
  padding: 20px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 6px;
}

nav li {
  width: 60px;
  height: 40px;   
  background-color: green;
  display: block;
  margin: 20px 0px 20px -13px;
  text-align: center;
  box-shadow: 10px 10px 10px rgb(110, 209, 110);
  transition: background-color 1.0s, color 1.0s; 
  font-family: "Audiowide", sans-serif; 
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 16px 0px;
}

nav li:hover {
  background-color:black;
}

nav li a:hover {
  color: rgb(70, 209, 20);
}

.ufo {
  width: 86px;
  padding: 0px 0px 0px 0px;
  margin: 5px 25px 0px 12px;
}

.player {
  width: 72px;
  height: 25px;
  padding: 0px 14px;
}

main {
  grid-column: 2/ span 5;
}

h2 {
  text-align: center;
  text-decoration: underline;
  color: black;
  text-shadow: 2px 2px 2px green;
  font-family: "Audiowide", sans-serif; 
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.aboutme {
  text-align: center;
  color: black;
  padding: 0px 50px 0px 50px;
  font-size: 13px;
  font-family: "Chakra Petch", sans-serif;
  text-shadow: 1px 1px 0px green;
  margin-top: 5px;  
  margin-bottom: 5px;
}

.sideeye {
  width: 136px;
  padding: 0px 117px; 
}

footer {
  grid-column: 2/ span 5;
  background-color: green;
  box-shadow: 13px 13px 10px rgb(110, 209, 110);
}

#defaultCanvas0 {
  position: absolute;
  top: 580px;
  left: 0;
}

@media all and (min-width: 36rem){
  body {
    background-color: white;
  }

  #wrapper {
    margin: 1em auto;
    width: 700px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 100px 477px 100px;
    box-shadow: 13px 13px 10px rgb(110, 209, 110);
  }
  
  header {
    grid-column: 2/ span 5;
    height: 100px;
    background-color: green;
  }
  
  h1 {
    font-size: 25px;
    padding: 33px 25px;
    margin: 0;
    color: white;
    font-style: italic;
    text-shadow: 2px 2px 2px darkgreen;
    font-family: "Audiowide", sans-serif;
  }
  
  nav {
    width: 117px;
    grid-column: 1/ span 1;
    grid-row: 1;
    background-color: black;
    grid-row-end: 4;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  nav ul {
    background-color: white;
    width: 48px;
    margin: 15px 15px 35px 15px;
    padding: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 8px;
  }
  
  nav li {  
    width: 71px; 
    height: 43px;
    background-color: green;
    display: block;
    margin: 20px 0px 20px -13px;
    text-align: center;
    box-shadow: 10px 10px 10px rgb(110, 209, 110);
    transition: background-color 1.0s, color 1.0s; 
    font-family: "Audiowide", sans-serif; 
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  nav li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px 0px;
  }
  
  nav li:hover {
    background-color:black;
  }
  
  nav li a:hover {
    color: rgb(70, 209, 20);
  }
  
  .ufo {
    width: 100px;
    padding: 0px 0px 0px 0px;
    margin: -23px 25px 0px 9px;
  }
  
  .player {
    width: 86px;
    height: 25px;
    padding: 0px 14px;
  }  
  
  main {
    grid-column: 2/ span 5;
  }
  
  h2 {
    text-align: center;
    text-decoration: underline;
    color: black;
    text-shadow: 2px 2px 2px rgb(70, 209, 20);
    font-family: "Audiowide", sans-serif; 
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  
  .aboutme {
    text-align: center;
    color: black;
    padding: 0px 50px 0px 50px;
    font-size: 15.5px;
    font-family: "Chakra Petch", sans-serif;
    text-shadow: 1px 1px 0px rgb(70, 209, 20);
    margin-top: 5px;  
    margin-bottom: 5px;
  }
  
  .sideeye {
    width: 200px;
    padding: 1px 182px;
  }
  
  footer {
    grid-column: 2/ span 5;
    background-color: green;
    box-shadow: 13px 13px 10px rgb(110, 209, 110);
  }
  #defaultCanvas0 {
    position: absolute;
    top: 580px;
    left: 0;
  }

}

@media all and (min-width: 60rem){

  #wrapper {
    margin: 1em auto;
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: 100px 525px 100px;
    box-shadow: 13px 13px 10px rgb(110, 209, 110);
  }

  body { 
    max-width: 1200px; margin: 0rem auto; 
    display: grid;
    background-color: white;
  }
  
  header {
    grid-column: 3/ span 12;
    height: 100px;
    background-color: green;
  }
  
  h1 {
    font-size: 40px;
    padding: 25px;
    margin: 0;
    color: white;
    font-style: italic;
    text-shadow: 2px 2px 2px darkgreen;
    font-family: "Audiowide", sans-serif;
  }
 
  nav {
    width: 183px;
    grid-column: 1/ span 2;
    background-color: black;
    grid-row-end: 4;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  nav ul {
    background-color: white;
    width: 110px;
    margin: 15px 15px 35px 15px;
    padding: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 13px;
  }
  
  nav li { 
    width: 125px;  
    background-color: green;
    display: block;
    margin: 20px -10px 20px -10px;
    text-align: center;
    box-shadow: 10px 10px 10px rgb(110, 209, 110);
    transition: background-color 1.0s, color 1.0s; 
    font-family: "Audiowide", sans-serif; 
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  nav li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px;
  }
  
  nav li:hover {
    background-color:black;
  }
  
  nav li a:hover {
    color: rgb(70, 209, 20);
  } 

  .ufo {
    width: 137px;
    padding: 0px 0px 0px 0px;
    margin: -32px 21px 4px 24px;
  }
  
  .player {
    width: 145px;
    height: 25px;
    padding: 0px 14px;
  }
  
  main {
    grid-column: 3/ span 12;
  }
  
  h2 {
    text-align: center;
    text-decoration: underline;
    color: black;
    text-shadow: 2px 2px 2px rgb(70, 209, 20);
    font-family: "Audiowide", sans-serif; 
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  
  .aboutme {
    text-align: center;
    color: black;
    padding: 0px 50px 0px 50px;
    font-size: 17.5px;
    font-family: "Chakra Petch", sans-serif;
    text-shadow: 1px 1px 0px rgb(70, 209, 20);
    margin-top: 5px;  
    margin-bottom: 5px;
  }
  
  .sideeye {
    width: 332px;
    padding: 0px 375px;
  }
  
  footer {
    grid-column: 3/ span 12;
    background-color: green;
    box-shadow: 13px 13px 10px rgb(110, 209, 110);
  }
  
  #defaultCanvas0 {
    position: absolute;
    top: 625px;
    left: 0;
  }
}


