body {
  background-color: black;
}

#wrapper {
  margin: 1em auto;
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px 525px 100px;
  box-shadow: 13px 13px 10px rgb(110, 209, 110);
  background-color: black;
}

header {
  grid-column: 3/ span 12;
  height: 100px;
  background-color: rgb(70, 209, 20);
}

h1 {
  padding: 30px;
  margin: 0;
  color: black;
  font-style: italic;
  text-shadow: 2px 2px 2px darkgreen;
  font-family: "Audiowide", sans-serif;
}

nav {
  grid-column: 1/ span 2;
  grid-row: 1;
  background-color: darkgreen;
  grid-row-end: 4;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

nav ul {
  background-color: black;
  width: 130px;
  margin: 15px 15px 30px 15px;
  padding: 20px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

nav li {   
  background-color: rgb(70, 209, 20);
  display: block;
  margin: 20px 0px 20px 0px;
  text-align: center;
  box-shadow: 10px 10px 10px darkgreen;
  transition: background-color 1.0s, color 1.0s; 
  font-family: "Audiowide", sans-serif; 
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

nav li a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 15px;
}

nav li:hover {
  background-color:darkgreen;
}

nav li a:hover {
  color: rgb(70, 209, 20);
}

.ufo {
  width: 166px;
  padding: 0px 0px 0px 0px;
  border-top: 2px solid rgb(70, 209, 20);
  margin: 5px 25px -4px 17px;
}

.player {
  width: 170px;
  height: 25px;
  padding: 0px 14px;
}

.line1 {
  height: 2px;
  background-color: rgb(70, 209, 20);
  margin: 0px 18px;
}

.line2 {
  height: 2px;
  background-color: white;
  margin: 5px 50px 0px 50px;
}

.line3 {
  height: 2px;
  background-color: rgb(70, 209, 20);
  margin: 5px 75px 0px 75px;
}

.line4 {
  height: 2px;
  background-color: white;
  margin: 0px 50px 0px 50px;
}

.line5 {
  height: 2px;
  background-color: rgb(70, 209, 20);
  margin: 0px 75px 5px 75px;
}

main {
  grid-column: 3/ span 12;
}

h2 {
  text-align: center;
  text-decoration: underline;
  color: green;
  text-shadow: 2px 2px 2px rgb(70, 209, 20);
  font-family: "Audiowide", sans-serif; 
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.aboutme {
  text-align: center;
  color: white;
  padding: 0px 50px 0px 50px;
  font-size: 17.5px;
  font-family: "Chakra Petch", sans-serif;
  text-shadow: 1px 1px 0px rgb(70, 209, 20);
  margin-top: 5px;  
  margin-bottom: 5px;
}

.sideeye {
  width: 338px;
  padding: 0px 330px; 
}

footer {
  grid-column: 3/ span 12;
  background-color: rgb(70, 209, 20);
  box-shadow: 13px 13px 10px rgb(110, 209, 110);
}

.contact {
  padding: 35px;
  margin: 0;
  font-size: 25px;
  font-style: italic;
  text-shadow: 2px 2px 2px green;
  font-family: "Audiowide", sans-serif;
}

h3 a {
  color: black;
  transition: color 1.0s;
}

h3 a:hover {
  color: white; 
  text-shadow: 2px 2px 2px darkgreen;
}



