#wrapper {
    margin: 1em auto;
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px 575px 100px;
    box-shadow: 13px 13px 10px #999;
  }
  
  header {
    grid-column: 3/ span 12;
    background-color: red;
  }
  
  h1 {
    padding: 30px;
    margin: 0;
    color: white;
    font-style: italic;
    text-shadow: 2px 2px 2px #000;
    font-family: "Audiowide", sans-serif;
  }
  
  nav {
    grid-column: 1/ span 2;
    grid-row: 1;
    background-color: black;
    grid-row-end: 4;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  nav ul {
    background-color: white;
    width: 130px;
    margin: 15px;
    padding: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  nav li {   
    background-color: red;
    display: block;
    margin: 20px 0px 20px 0px;
    text-align: center;
    box-shadow: 10px 10px 10px #999;
    transition: background-color 1.0s, color 1.0s; 
    font-family: "Audiowide", sans-serif; 
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  nav li a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 15px;
  }
  
  nav li:hover {
    background-color:black;
  }
  
  nav li a:hover {
    color: red;
  }
  
  .seal {
    width: 166px;
    padding: 25px 0px 0px 0px;
    border-top: 2px solid red;
    margin: 20px 25px 25px 17px;
  }
  
  
  .line1 {
    height: 2px;
    background-color: red;
    margin: 0px 18px;
  }
  
  .line2 {
    height: 2px;
    background-color: white;
    margin: 20px 50px 0px 50px;
  }
  
  .line3 {
    height: 2px;
    background-color: red;
    margin: 20px 75px 0px 75px;
  }
  
  .line4 {
    height: 2px;
    background-color: white;
    margin: 0px 50px 0px 50px;
  }
  
  .line5 {
    height: 2px;
    background-color: red;
    margin: 50px 75px 20px 75px;
  }
  
  main {
    grid-column: 3/ span 12;
  }
  
  .CTK240 {
    text-align: left;
    color: black;
    font-size: 20px;
    font-family: "Chakra Petch", sans-serif;
    text-shadow: 1px 1px 0px red;
    text-decoration: underline;
    padding-left: 17px;
    margin-bottom: 0px;
    margin-top: 30px;
  }

  .CTK301 {
    text-align: left;
    color: black;
    padding-left: 17px;
    font-size: 20px;
    font-family: "Chakra Petch", sans-serif;
    text-shadow: 1px 1px 0px red;
    text-decoration: underline;
    margin-bottom: 0px;
    margin-top: 30px;
  }

  .twofourzero {
    text-align: left;
    text-decoration: underline;
    color: black;
    text-shadow: 1px 1px 0px red;
    font-family: "Chakra Petch", sans-serif;
    font-size: 18px;
    padding-left: 32px;
    margin-top: 10px;
  }

  .player {
    width: 190px;
    height: 30px;
    padding: 0px 53px;
  }

  .threezeroone {
    text-align: left;
    text-decoration: underline;
    color: black;
    text-shadow: 1px 1px 0px red;
    font-family: "Chakra Petch", sans-serif;
    font-size: 16px;
    padding-left: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 95%;
    font-family: "Chakra Petch", sans-serif;
    margin-top: 25px; 
  }

  .Reggie   {
    width: 39%;
    float: right;
    padding-left: 16px;
  }
  
  footer {
    grid-column: 3/ span 12;
    background-color: red;
    box-shadow: 10px 10px 10px #999;
  }
  
  .bi {
    width: 75px;
    float: right;
    padding: 10px 10px 5px 10px;
    font-size: 75px;
    color: white;
    transition: color 1.0s; 
    text-shadow: 2px 2px 2px #000;
  }
  
  .bi:hover {
    color: black;
  }
  
  .gobirds {
    padding: 20px 30px;
    margin: 0;
    color: white;
    font-style: italic;
    text-shadow: 2px 2px 2px #000;
    font-family: "Audiowide", sans-serif;
    text-align: center;
    font-size: 45px;
  }
  

 ul li .link {
    color: black;
    transition: color 1.0s;
    font-family: "Audiowide", sans-serif; 
    font-size: 18px;
  }
  
 ul li .link:hover {
    color: black; 
    text-shadow: 2px 2px 2px red;
  }
  
  
  
  