#wrapper {
  margin: 1em auto;
  width: 470px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 100px 556px 100px;
  box-shadow: 13px 13px 10px darkcyan;
}

body { 
  max-width: 470px; 
  margin: 0rem auto; 
  display: grid;
}

header {
  grid-column: 2/ span 6;
  height: 100px;
  background-color: blue;
}

h1 {
  font-size: 19px;
  padding: 23px;
  margin: 0;
  color: white;
  font-style: italic;
  text-shadow: 2px 2px 2px skyblue;
  font-family: "Audiowide", sans-serif;
}

nav {
  width: 100px;
  grid-column: 1/ span 1;
  grid-row: 1;
  background-color: #0075a3;
  grid-row-end: 4;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 756px;
}

nav ul {
  background-color: white;
  width: 44px;
  margin: 15px 0px 35px 10px;
  padding: 20px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 7px;
}

nav li {   
  width: 73px;
  height: 41px;
  background-color: blue;
  display: block;
  margin: 20px 0px 20px -16px;
  text-align: center;
  box-shadow: 10px 10px 10px skyblue;
  transition: background-color 1.0s, color 1.0s; 
  font-family: "Audiowide", sans-serif; 
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 15px 0px;
}

nav li:hover {
  background-color:skyblue;
}

nav li a:hover {
  color: blue;
}

.ivopanel {
  width: 76px;
  padding: 0px 0px 0px 0px;
  margin: -30px 25px 0px 12px;
  float: none;
}

.members {
  font-size: 7px;
  color: #ffffff;
  text-align: center;
  padding: 5px 17px 0px 17px;
  margin: 0px;
  text-shadow: 1px 1px 0px black;
  font-family: "Audiowide", sans-serif;
}

.dod {
      font-size: 7px;
      color: white;
      text-align: center;
      padding: 5px 17px 0px 17px;
      margin: 0px;
      text-shadow: 1px 1px 0px black;
      font-family: "Audiowide", sans-serif;
}

footer {
  grid-column: 2/ span 6;
  background-color: blue;
  box-shadow: 13px 13px 10px darkcyan;
}

.bi {
  float: right;
  padding: 30px 25px 5px 10px;
  font-size: 24px;
  color: white;
  transition: color 1.0s; 
  text-shadow: 2px 2px 2px skyblue;
  text-decoration: none;
}

.bi:hover {
  color: black;
  text-shadow: 2px 2px 2px white;
}

.fa {
  float: right;
  padding: 30px 10px 5px 10px;
  font-size: 23px;
  color: white;
  transition: color 1.0s; 
  text-shadow: 2px 2px 2px skyblue;
  text-decoration: none;
}

.fa:hover {
  color: black;
  text-shadow: 2px 2px 2px white;
}  

.discog {
  grid-column: 2 / span 4;
 }

img {
  float: left;
  width: 82px;
}

#myCarousel {
  padding-top: 10px;
  padding-left: 22px;
}

#myCarousel2 {
  height: 310px;
  width: 77px;
  padding-top: 0px;
  margin-left: 23px;
}

.f-carousel {
  --f-button-width: 15px;
  --f-button-height: 25px;
  --f-button-color: darkcyan;  
}

.picsvids {
  grid-column: 6 / span 2;
 }

.picturesvideos {
 display: grid;
 margin: 15px 10px 10px 10px;
 text-align: center;
text-decoration: underline;
text-shadow: 2px 2px 0px skyblue;
font-family: "Audiowide", sans-serif;
font-size: 14px;
}

.resize {
  font-size: 15px;
  font-family: "Audiowide", sans-serif;
}

iframe {
  border: 0; 
  width: 79px; 
  height: 456px; 
  padding-bottom: 33px;

}

#defaultCanvas0 {
  position: absolute;
  top: 650px;
  left: 0;
}

@media all and (min-width: 36rem){

  #wrapper {
      margin: 1em auto;
      width: 700px;
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: 100px 645px 100px;
      box-shadow: 13px 13px 10px darkcyan;
    }

    body { 
      max-width: 700px; 
      margin: 0rem auto; 
      display: grid;
    }

    header {
      grid-column: 2/ span 6;
      height: 100px;
      background-color: blue;
    }
    
    h1 {
      font-size: 24px;
      padding: 35px 25px;
      margin: 0;
      color: white;
      font-style: italic;
      text-shadow: 2px 2px 2px skyblue;
      font-family: "Audiowide", sans-serif;
    }
    
    nav {
      width: 117px;
      grid-column: 1/ span 1;
      grid-row: 1;
      background-color: #0075a3;
      grid-row-end: 4;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      height: 845px;
    }
    
    nav ul {
      background-color: white;
      width: 48px;
      margin: 15px 150px 35px 15px;
      padding: 20px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      font-size: 8px;
    }
    
    nav li {   
      width: 76px;
      background-color: blue;
      display: block;
      margin: 20px 0px 20px -17px;
      text-align: center;
      box-shadow: 10px 10px 10px skyblue;
      transition: background-color 1.0s, color 1.0s; 
      font-family: "Audiowide", sans-serif; 
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      height: 44px;
    }
    
    nav li a {
      color: white;
      text-decoration: none;
      display: block;
      padding: 17px 0px;
    }
    
    nav li:hover {
      background-color:skyblue;
    }
    
    nav li a:hover {
      color: blue;
    }
    
    .ivopanel {
      width: 92px;
      padding: 0px 0px 0px 0px;
      margin: -21px 25px 0px 12px;
      float: none;
    }
  
    .members {
      font-size: 10px;
      color: white;
      text-align: center;
      padding: 5px 17px 0px 17px;
      margin: 0px;
      text-shadow: 1px 1px 0px black;
      font-family: "Audiowide", sans-serif;
    }
  
    .dod {
          font-size: 10px;
          color: white;
          text-align: center;
          padding: 5px 17px 0px 17px;
          margin: 0px;
          text-shadow: 1px 1px 0px black;
          font-family: "Audiowide", sans-serif;
    }
    
    footer {
      grid-column: 2/ span 6;
      background-color: blue;
      box-shadow: 13px 13px 10px darkcyan;
    }
    
    .bi {
      float: right;
      padding: 30px 25px 5px 10px;
      font-size: 35px;
      color: white;
      transition: color 1.0s; 
      text-shadow: 2px 2px 2px skyblue;
      text-decoration: none;
    }
    
    .bi:hover {
      color: black;
      text-shadow: 2px 2px 2px white;
    }
    
  .fa {
      float: right;
      padding: 30px 10px 5px 10px;
      font-size: 35px;
      color: white;
      transition: color 1.0s; 
      text-shadow: 2px 2px 2px skyblue;
      text-decoration: none;
  }
  
  .fa:hover {
      color: black;
      text-shadow: 2px 2px 2px white;
  }  
    
  .discog {
      grid-column: 2 / span 4;
     }
  
  img {
      float: left;
      width: 129px;
   }
  
   #myCarousel {
    margin-bottom: 50px;
    padding-left: 32px;
  }
  
  #myCarousel2 {
    height: 316px;
    width: 152px;
    padding-left: 10px;
  }
  
    .f-carousel {
      --f-button-width: 15px;
      --f-button-height: 25px;
      --f-button-color: darkcyan;  
    }
  
    .picsvids {
      grid-column: 6 / span 2;
     }
  
  .picturesvideos {
     display: grid;
     margin: 10px 10px 0px 0px;
     text-align: center;
    text-decoration: underline;
    text-shadow: 2px 2px 0px skyblue;
    font-family: "Audiowide", sans-serif;
    font-size: 20px;
    }
  
    .resize {
      font-size: 20px;
      font-family: "Audiowide", sans-serif;
   }
  
   iframe {
    border: 0; 
    width: 126px; 
    height: 500px; 
    padding-bottom: 33px;
  }

  #defaultCanvas0 {
    position: absolute;
    top: 740px;
    left: 0;
  }
}
  

@media all and (min-width: 60rem){

#wrapper {
    margin: 1em auto;
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: 100px 776px 100px;
    box-shadow: 13px 13px 10px darkcyan;
  }

  body { 
    max-width: 1200px; 
    margin: 0rem auto; 
    display: grid;
  }
  
  header {
    grid-column: 3/ span 12;
    height: 100px;
    background-color: blue;
  }
  
  h1 {
    font-size: 37px;
    padding: 30px;
    margin: 0;
    color: white;
    font-style: italic;
    text-shadow: 2px 2px 2px skyblue;
    font-family: "Audiowide", sans-serif;
  }
  
  nav {
    width: 183px;
    grid-column: 1/ span 2;
    grid-row: 1;
    background-color: #0075a3;
    grid-row-end: 4;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 976px;
  }
  
  nav ul {
    background-color: white;
    width: 110px;
    margin: 15px 150px 35px 15px;
    padding: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 13px;
  }
  
  nav li {   
    width: 125px;
    background-color: blue;
    display: block;
    margin: 20px -10px 20px -10px;
    text-align: center;
    box-shadow: 10px 10px 10px skyblue;
    transition: background-color 1.0s, color 1.0s; 
    font-family: "Audiowide", sans-serif; 
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  nav li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px 0px;
  }
  
  nav li:hover {
    background-color:skyblue;
  }
  
  nav li a:hover {
    color: blue;
  }
  
  .ivopanel {
    width: 140px;
    padding: 5px 0px 0px 0px;
    margin: -25px 25px -5px 22px;
    float: none;
  }

  .members {
    font-size: 15px;
    color: white;
    text-align: center;
    padding: 10px 17px 0px 17px;
    margin: 0px;
    text-shadow: 1px 1px 0px black;
    font-family: "Audiowide", sans-serif;
  }

  .dod {
        font-size: 17px;
        color: white;
        text-align: center;
        padding: 20px 17px 0px 17px;
        margin: 0px;
        text-shadow: 1px 1px 0px black;
        font-family: "Audiowide", sans-serif;
  }
  
  footer {
    grid-column: 3/ span 12;
    background-color: blue;
    box-shadow: 13px 13px 10px darkcyan;
  }
  
  .bi {
    float: right;
    padding: 10px 25px 5px 10px;
    font-size: 60px;
    color: white;
    transition: color 1.0s; 
    text-shadow: 2px 2px 2px black;
    text-decoration: none;
  }
  
  .bi:hover {
    color: black;
    text-shadow: 2px 2px 2px skyblue;
  }
  
.fa {
    float: right;
    padding: 10px 10px 5px 10px;
    font-size: 60px;
    color: white;
    transition: color 1.0s; 
    text-shadow: 2px 2px 2px black;
    text-decoration: none;
}

.fa:hover {
    color: black;
    text-shadow: 2px 2px 2px skyblue ;
}  
  
.discog {
    grid-column: 3 / span 8;
   }

img {
    float: left;
    width: 226px;
 }

  #myCarousel {
    padding-top: 10px;
    height: 310px;
  }

  #myCarousel2 {
    height: 310px;
    width: 307px;
  }

  .f-carousel {
    --f-button-width: 15px;
    --f-button-height: 25px;
    --f-button-color: darkblue;  
  }

  .picsvids {
    grid-column: 11 / span 4;
    padding-left: 28px;
   }

.picturesvideos {
   display: grid;
   margin: 10px 10px 0px -19px;
   text-align: center;
  text-decoration: underline;
  text-shadow: 2px 2px 0px skyblue;
  font-family: "Audiowide", sans-serif;
  font-size: 30px;
  }

  .resize {
    font-size: 20px;
    font-family: "Audiowide", sans-serif;
 }

 iframe {
  border: 0; 
  width: 223px; 
  height: 500px; 
  padding-bottom: 33px;
}

#defaultCanvas0 {
  position: absolute;
  top: 870px;
  left: 0;
}
}
