#wrapper {
    margin: 1em auto;
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px 700px 100px;
    box-shadow: 13px 13px 10px #999;
  }
  
  header {
    grid-column: 3/ span 12;
    background-color: skyblue;
  }

  .ivologo {
    float: right;
    width: 199px;
    padding-right: 50px;
  }
  
  h1 {
    padding: 30px;
    margin: 0;
    color: white;
    font-style: italic;
    text-shadow: 2px 2px 2px black;
    font-family: "Audiowide", sans-serif;
  }
  
  nav {
    grid-column: 1/ span 2;
    grid-row: 1;
    background-color: black;
    grid-row-end: 4;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  nav ul {
    background-color: white;
    width: 130px;
    margin: 15px 150px 0px 15px;
    padding: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  nav li {   
    background-color: skyblue;
    display: block;
    margin: 20px 0px 20px 0px;
    text-align: center;
    box-shadow: 10px 10px 10px #999;
    transition: background-color 1.0s, color 1.0s; 
    font-family: "Audiowide", sans-serif; 
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  nav li a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 15px;
  }
  
  nav li:hover {
    background-color:black;
  }
  
  nav li a:hover {
    color: skyblue;
  }
  
  .ivopanel {
    width: 166px;
    padding: 25px 0px 0px 0px;
    border-top: 2px solid skyblue;
    margin: 20px 25px 25px 17px;
    float: none;
  }
  
  video {
    padding: 0px 17px;
  }

  .members {
    font-size: 11px;
    color: white;
    text-align: center;
    padding: 0px 17px;
    margin: 0px;
    text-shadow: 1px 1px 0px skyblue;
    font-family: "Audiowide", sans-serif;
  }

  .dod {
        font-size: 11px;
        color: white;
        text-align: center;
        padding: 0px 17px;
        margin: 0px;
        text-shadow: 1px 1px 0px skyblue;
        font-family: "Audiowide", sans-serif;
  }
  
  .line1 {
    height: 2px;
    background-color: skyblue;
    margin: 0px 18px;
  }
  
  .line2 {
    height: 2px;
    background-color: white;
    margin: 20px 50px 0px 50px;
  }
  
  .line3 {
    height: 2px;
    background-color: skyblue;
    margin: 20px 75px 0px 75px;
  }
  
  .line4 {
    height: 2px;
    background-color: white;
    margin: 0px 50px 0px 50px;
  }
  
  .line5 {
    height: 2px;
    background-color: skyblue;
    margin: 15px 75px 20px 75px;
  }
 
  h3 {
    padding-left: 17px;
    font-size: 116%;
  }
 
  footer {
    grid-column: 3/ span 12;
    background-color: skyblue;
    box-shadow: 10px 10px 10px #999;
  }
  
  .bi {
    float: right;
    padding: 10px 10px 5px 10px;
    font-size: 75px;
    color: white;
    transition: color 1.0s; 
    text-shadow: 2px 2px 2px #000;
  }
  
  .bi:hover {
    color: black;
    text-shadow: 2px 2px 2px white;
  }
  
.fa {
    float: right;
    padding: 10px 10px 5px 10px;
    font-size: 75px;
    color: white;
    transition: color 1.0s; 
    text-shadow: 2px 2px 2px #000;
}

.fa:hover {
    color: black;
    text-shadow: 2px 2px 2px white;
}

  .contact {
    padding: 35px;
    margin: 0;
    font-size: 25px;
    color: white;
    font-style: italic;
    text-shadow: 2px 2px 2px #000;
    font-family: "Audiowide", sans-serif;
  }
  
  
ul {
    margin: 5px;
    padding-left: 80px;
  }
  
.discog {
    border: 2px solid black;  
    grid-column: 3 / span 7;
    
  }

img {
    float: left;
    width: 232px;
    
}

.about {
   display: grid;
   grid-column: 10 / span 3;
   margin: 0px;
  }
