#wrapper {
  margin: 1em auto;
  width: 470px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 100px 556px 100px;
  box-shadow: 13px 13px 10px plum;
}

header {
  grid-column: 2/ span 5;
  background-color: purple;
  height: 100px;
}

h1 {
  padding: 30px;
  font-size: 17px;
  margin: 0;
  color: white;
  font-style: italic;
  text-shadow: 2px 2px 2px plum;
  font-family: "Audiowide", sans-serif;
}

nav {
  grid-column: 1/ span 1;
  grid-row: 1;
  background-color: plum;
  grid-row-end: 4;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 100px;
  height: 756px;
}

nav ul {
  background-color: white;
  width: 36px;
  margin: 15px 15px 0px 15px;
  padding: 1px 20px 1px 20px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 6px;
}

nav li { 
  width: 60px;  
  height: 40px;
  background-color: purple;
  display: block;
  margin: 20px 0px 20px -13px;
  text-align: center;
  box-shadow: 10px 10px 10px plum;
  transition: background-color 1.0s, color 1.0s; 
  font-family: "Audiowide", sans-serif; 
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

nav li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 0px;
}

nav li:hover {
  background-color:plum;
}

nav li a:hover {
  color: purple;
}

.headshot {
  width: 74px;
  margin: 5px 10px 0px 15px;
  float: none;
}

h3 {
  padding-left: 17px;
  font-size: 116%;
}

footer {
  grid-column: 2/ span 5;
  background-color: purple;
  box-shadow: 13px 13px 10px plum;
}

.bi {
  float: right;
  padding: 35px 15px 5px 10px;
  font-size: 25px;
  color: white;
  transition: color 1.0s; 
  text-shadow: 2px 2px 2px plum;
  text-decoration: none;
}

.bi:hover {
  color: plum;
  text-shadow: 2px 2px 2px white;
}

.fa {
  float: right;
  padding: 35px 10px 5px 10px;
  font-size: 25px;
  color: white;
  transition: color 1.0s; 
  text-shadow: 2px 2px 2px plum;
  text-decoration: none;
}

.fa:hover {
  color:  plum;
  text-shadow: 2px 2px 2px white;
}

ul {
  margin: 5px;
  padding-left: 80px;
}

.discog {
  grid-column: 2 / span 4;
}

img {
  float: left;
  width: 92px;
  height: 80px;
}

.picsvids {
 grid-column: 6 / span 1;
}

h4 {
  margin: 5px 0px 10px 0px;
  text-decoration: underline;
  text-shadow: 1px 1px 0px purple;
  font-family: "Audiowide", sans-serif;
  text-align: center;
  font-size: 13px;
}

.catgoes {
font-size: 6px;
color: purple;
text-align: center;
padding: 0px 17px;
margin: 0px;
text-shadow: 1px 1px 0px plum;
font-family: "Chakra Petch", sans-serif;
}

.crazy {
margin-top: 5px;
}

.weft {
font-size: 6px;
color: purple;
text-align: center;
padding: 0px 17px;
margin: 0px;
text-shadow: 1px 1px 0px plum;
font-family: "Chakra Petch", sans-serif;
}

p {
padding: 0px 30px 0px 30px;
text-align: center;
font-size: 6px;
color: purple;
text-shadow: 1px 1px 0px white;
font-family: "Audiowide", sans-serif;
margin: 0px;
}

iframe {
width: 60px;
height: 100px;
margin-top: 15px;
margin-left: 12px;
}

.resize {
font-size: 14px;
font-family: "Audiowide", sans-serif;
}

@media all and (min-width: 36rem){
  #wrapper {
    margin: 1em auto;
    width: 700px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 100px 556px 100px;
    box-shadow: 13px 13px 10px plum;
  }
  
  header {
    grid-column: 2/ span 5;
    background-color: purple;
    height: 100px;
  }
  
  h1 {
    font-size: 26px;
    padding: 17px;
    margin: 0;
    color: white;
    font-style: italic;
    text-shadow: 2px 2px 2px plum;
    font-family: "Audiowide", sans-serif;
  }
  
  nav {
    width: 117px;
    grid-column: 1/ span 1;
    grid-row: 1;
    background-color: plum;
    grid-row-end: 4;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  nav ul {
    background-color: white;
    width: 48px;
    margin: 15px 15px 15px 15px;
    padding: 5px 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 8px;
  }
  
  nav li {   
    width: 71px;
    height: 43px;
    background-color: purple;
    display: block;
    margin: 20px 0px 20px -13px;
    text-align: center;
    box-shadow: 10px 10px 10px plum;
    transition: background-color 1.0s, color 1.0s; 
    font-family: "Audiowide", sans-serif; 
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  nav li a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 15px 0px;
  }
  
  nav li:hover {
    background-color:plum;
  }
  
  nav li a:hover {
    color: purple;
  }
  
  .headshot {
    width: 92px;
    height: 92px;
    padding: 0px 0px 0px 0px;
    margin: -10px 25px 0px 12px;
    float: none;
  }
 
  h3 {
    padding-left: 17px;
    font-size: 116%;
  }
 
  footer {
    grid-column: 2/ span 12;
    background-color: purple;
    box-shadow: 13px 13px 10px plum;
  }
  
  .bi {
    float: right;
    padding: 30px 15px 5px 10px;
    font-size: 30px;
    color: white;
    transition: color 1.0s; 
    text-shadow: 2px 2px 2px plum;
    text-decoration: none;
  }
  
  .bi:hover {
    color: plum;
    text-shadow: 2px 2px 2px white;
  }
  
.fa {
    float: right;
    padding: 30px 10px 5px 10px;
    font-size: 30px;
    color: white;
    transition: color 1.0s; 
    text-shadow: 2px 2px 2px plum;
    text-decoration: none;
}

.fa:hover {
    color:  plum;
    text-shadow: 2px 2px 2px white;
}
  
ul {
    margin: 5px;
    padding-left: 80px;
  }
  
.discog {
    grid-column: 2 / span 4;
  }

img {
    float: left;
    width: 93px;
    height: 140px;
}

.picsvids {
   grid-column: 6 / span 1;
  }

  h4 {
    margin: 15px 0px 10px 0px;
    text-decoration: underline;
    text-shadow: 1px 1px 0px purple;
    font-family: "Audiowide", sans-serif;
    text-align: center;
    font-size: 17px;
  }

.catgoes {
  font-size: 8px;
  color: purple;
  text-align: center;
  padding: 0px 17px;
  margin: 0px;
  text-shadow: 1px 1px 0px plum;
  font-family: "Chakra Petch", sans-serif;
}

.crazy {
  margin-top: 5px;
}

.weft {
  font-size: 8px;
  color: purple;
  text-align: center;
  padding: 0px 17px;
  margin: 0px;
  text-shadow: 1px 1px 0px plum;
  font-family: "Chakra Petch", sans-serif;
}

p {
  padding: 0px 40px 0px 40px;
  text-align: center;
  font-size: 5px;
  color: purple;
  text-shadow: 1px 1px 0px white;
  font-family: "Audiowide", sans-serif;
  margin: 0px;
}

iframe {
  width: 90px;
  height: 60px;
  margin-top: 35px;
  margin-left: 12px;
}

.resize {
  font-size: 20px;
  font-family: "Audiowide", sans-serif;
}

.live {
  height: 80px;
  width: 58px;
  padding-top: 15px;
}
}

@media all and (min-width: 60rem){

#wrapper {
    margin: 1em auto;
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: 100px 875px 100px;
    box-shadow: 13px 13px 10px plum;
  }
  
  header {
    grid-column: 3/ span 12;
    background-color: purple;
    height: 100px;
  }

  body { 
    max-width: 1200px; margin: 0rem auto; 
    display: grid;
  }
  
  h1 {
    padding: 30px;
    font-size: 25px;
    margin: 0;
    color: white;
    font-style: italic;
    text-shadow: 2px 2px 2px plum;
    font-family: "Audiowide", sans-serif;
  }
  
  nav {
    width: 183px;
    grid-column: 1/ span 2;
    background-color: plum;
    grid-row-end: 4;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 1076px;
  }
  
  nav ul {
    background-color: white;
    width: 110px;
    margin: 15px 15px 15px 15px;
    padding: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 13px;
  }
  
  nav li {   
    width: 125px;
    background-color: purple;
    display: block;
    margin: 20px -10px 20px -10px;
    text-align: center;
    box-shadow: 10px 10px 10px plum;
    transition: background-color 1.0s, color 1.0s; 
    font-family: "Audiowide", sans-serif; 
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  nav li a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 15px;
  }
  
  nav li:hover {
    background-color:plum;
  }
  
  nav li a:hover {
    color: purple;
  }
  
  .headshot {
    width: 160px;
    padding: 0px 0px 0px 0px;
    margin: 5px 25px 5px 12px;
    float: none;
    height: 155px;
  }
 
  h3 {
    padding-left: 17px;
    font-size: 116%;
  }
 
  footer {
    grid-column: 3/ span 12;
    background-color: purple;
    box-shadow: 13px 13px 10px plum;
  }
  
  .bi {
    float: right;
    padding: 15px 15px 5px 10px;
    font-size: 60px;
    color: white;
    transition: color 1.0s; 
    text-shadow: 2px 2px 2px plum;
    text-decoration: none;
  }
  
  .bi:hover {
    color: plum;
    text-shadow: 2px 2px 2px white;
  }
  
.fa {
    float: right;
    padding: 15px 10px 5px 10px;
    font-size: 60px;
    color: white;
    transition: color 1.0s; 
    text-shadow: 2px 2px 2px plum;
    text-decoration: none;
}

.fa:hover {
    color:  plum;
    text-shadow: 2px 2px 2px white;
}
  
ul {
    margin: 5px;
    padding-left: 80px;
  }
  
.discog {
    grid-column: 3 / span 9;
  }

img {
    float: left;
    width: 190px;
    height: 175px;
}

.live {
  width: 148px;
  height: 90px;
}

.picsvids {
   grid-column: 12 / span 3;
   margin: 3px 30px
  }

  h2 {
    margin: 5px 0px 10px 0px;
    text-decoration: underline;
    text-shadow: 1px 1px 0px purple;
    font-family: "Audiowide", sans-serif;
    text-align: center;
  }


.catgoes {
  font-size: 12px;
  color: purple;
  text-align: center;
  padding: 0px 17px;
  margin: 0px;
  text-shadow: 1px 1px 0px plum;
  font-family: "Chakra Petch", sans-serif;
}

.crazy {
  margin-top: 5px;
}

.weft {
  font-size: 12px;
  color: purple;
  text-align: center;
  padding: 0px 17px;
  margin: 0px;
  text-shadow: 1px 1px 0px plum;
  font-family: "Chakra Petch", sans-serif;
}

p {
  padding: 0px 40px 0px 40px;
  text-align: center;
  font-size: 13px;
  color: purple;
  text-shadow: 1px 1px 0px white;
  font-family: "Audiowide", sans-serif;
  margin: 0px;
}

iframe {
  width: 142px;
  height: 146px;
  margin-top: 20px;
  padding: 0px;
  margin-left: 25px;
}

.resize {
  font-size: 20px;
  font-family: "Audiowide", sans-serif;
}
}