.specialp {
    color: #00f7ff;
    background-color: #040200;
  }
#specialid  {

    color: #048929;
    background-color: aliceblue;
}

.specialq {
    color: bisque;
    background-color: rgb(165, 6, 6);
}

.specialr {
    color: #0d9734;
    background-color: rgb(241, 135, 232);
}

a:link {
    color: #ff0000;
}

a:hover {
    color: #eaff00;
  }        

  a:visited {
    color: #00ff48;
  }
  
  .spanstyle {
    color: #edf2f3;
    background-color: #664422;
  }

  .specials {
    background-color: #585858;
  }

  