#wrapper {
    margin: 1em auto;
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px 525px 100px;
    box-shadow: 13px 13px 10px #999;
  }
  
  header {
    grid-column: 3/ span 12;
    height: 100px;
    background-color: blue;
  }
  
  h1 {
    padding: 30px;
    margin: 0;
    color: white;
    font-style: italic;
    text-shadow: 2px 2px 2px orange;
    font-family: "Audiowide", sans-serif;
  }
  
  nav {
    grid-column: 1/ span 2;
    grid-row: 1;
    background-color: orange;
    grid-row-end: 4;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  nav ul {
    background-color: white;
    margin: 15px;
    padding: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  nav li {   
    background-color: blue;
    display: block;
    margin: 20px 0px 20px 0px;
    text-align: center;
    box-shadow: 10px 10px 10px #999;
    transition: background-color 1.0s, color 1.0s; 
    font-family: "Audiowide", sans-serif; 
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  nav li a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 15px;
  }
  
  nav li:hover {
    background-color:orange;
  }
  
  nav li a:hover {
    color: blue;
  }
  
  .uofi {
    width: 166px;
    padding: 5px 0px 0px 0px;
    border-top: 2px solid blue;
    margin: 20px 25px 0px 17px;
  }

  
  .line1 {
    height: 2px;
    background-color: blue;
    margin: 0px 18px;
  }
  
  .line2 {
    height: 2px;
    background-color: blue;
    margin: 20px 50px 0px 50px;
  }
  
  .line3 {
    height: 2px;
    background-color: blue;
    margin: 20px 75px 0px 75px;
  }
  
  .line4 {
    height: 2px;
    background-color: blue;
    margin: 0px 50px 0px 50px;
  }
  
  .line5 {
    height: 2px;
    background-color: blue;
    margin: 17px 75px 20px 75px;
  }
  
  main {
    grid-column: 3/ span 12;
  }
  
  h2 {
    text-align: left;
    text-decoration: underline;
    color: blue;
    text-shadow: 2px 2px 2px orange;
    font-family: "Audiowide", sans-serif; 
    font-size: 30px;
   padding-left: 20px;
  }


  footer {
    grid-column: 3/ span 12;
    background-color: blue;
    box-shadow: 10px 10px 10px #999;
  }
  
  .bi {
    width: 75px;
    float: right;
    padding: 10px 10px 5px 10px;
    font-size: 75px;
    color: white;
    transition: color 1.0s; 
    text-shadow: 2px 2px 2px orange;
  }
  
  .bi:hover {
    color: orange;
    text-shadow: 2px 2px 2px white;
  }
  
  .illini {
    padding: 20px 30px;
    margin: 0;
    color: white;
    font-style: italic;
    text-shadow: 2px 2px 2px orange;
    font-family: "Audiowide", sans-serif;
    text-align: center;
    font-size: 35px;
  }
  
  .Kingfisher   {
    width: 40%;
    float: right;
    padding-left: 16px;
  }
  