#wrapper {
  margin: 1em auto;
  width: 470px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 100px 477px 100px;
  box-shadow: 13px 13px 10px orangered;
}

header {
  grid-column: 2/ span 5;
  height: 100px;
  background-color: blue;
}

h1 {
  padding: 37px;
  margin: 0;
  color: white;
  font-style: italic;
  text-shadow: 2px 2px 2px orange;
  font-family: "Audiowide", sans-serif;
  font-size: 15px;
}

h3 {
  padding: 30px;
  margin: 0;
  color: black;
  font-style: italic;
  text-shadow: 2px 2px 2px orange;
  font-family: "Audiowide", sans-serif;
  font-size: 16px;
}

nav {
  grid-column: 1/ span 1;
  grid-row: 1;
  background-color: orange;
  grid-row-end: 4;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 100px;
}

nav ul {
  background-color: white;
  margin: 15px 15px 35px 15px;
  width: 36px;
  padding: 20px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 6px;
}

nav li {   
  width: 60px;
  background-color: blue;
  display: block;
  margin: 20px 0px 20px -13px;
  text-align: center;
  box-shadow: 10px 10px 10px  orangered;
  transition: background-color 1.0s, color 1.0s; 
  font-family: "Audiowide", sans-serif; 
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

nav li a {
  color: whitesmoke;
  text-decoration: none;
  display: block;
  padding: 16px 0px;
}

nav li:hover {
  background-color:orange;
}

nav li a:hover {
  color: blue;
}

.uofi {
  width: 76px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 13px;
}

main {
  grid-column: 2/ span 5;
}

h2 {
  text-align: left;
  text-decoration: underline;
  color: blue;
  text-shadow: 2px 2px 2px orange;
  font-family: "Audiowide", sans-serif; 
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 20px;
}


footer {
  grid-column: 2/ span 5;
  background-color: blue;
  box-shadow: 13px 13px 10px orangered;
}

.illini {
  padding: 20px 30px;
  margin: 0;
  color: white;
  font-style: italic;
  text-shadow: 2px 2px 2px orange;
  font-family: "Audiowide", sans-serif;
  text-align: center;
  font-size: 16px;
}

.Kingfisher   {
  width: 40%;
  float: right;
  padding-left: 16px;
}


@media all and (min-width: 36rem){
  #wrapper {
    margin: 1em auto;
    width: 700px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 100px 477px 100px;
    box-shadow: 13px 13px 10px orangered;
  }
  
  header {
    grid-column: 2/ span 5;
    height: 100px;
    background-color: blue;
  }
  
  h1 {
    padding: 24px;
    margin: 0;
    color: white;
    font-style: italic;
    text-shadow: 2px 2px 2px orange;
    font-family: "Audiowide", sans-serif;
    font-size: 21px;
  }

  h3 {
    padding: 30px;
    margin: 0;
    color: black;
    font-style: italic;
    text-shadow: 2px 2px 2px orange;
    font-family: "Audiowide", sans-serif;
    font-size: 21px;
  }
  
  nav {
    width: 117px;
    grid-column: 1/ span 1;
    grid-row: 1;
    background-color: orange;
    grid-row-end: 4;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  nav ul {
    background-color: white;
    margin: 15px 15px 20px 15px;
    padding: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 8px;
    width: 48px;
  }
  
  nav li {   
    width: 71px;
    height: 44px;
    background-color: blue;
    display: block;
    margin: 15px 0px 15px -13px;
    text-align: center;
    box-shadow: 10px 10px 10px #999;
    transition: background-color 1.0s, color 1.0s; 
    font-family: "Audiowide", sans-serif; 
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  nav li a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 15px 0px;
  }
  
  nav li:hover {
    background-color:orange;
  }
  
  nav li a:hover {
    color: blue;
  }
  
  .uofi {
    width: 92px;
    padding: 0px 0px 0px 0px;
    margin: 14px 0px 0px 15px;
  }
  
  main {
    grid-column: 2/ span 5;
  }
  
  h2 {
    text-align: left;
    text-decoration: underline;
    color: blue;
    text-shadow: 2px 2px 2px orange;
    font-family: "Audiowide", sans-serif; 
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 20px;
  }


  footer {
    grid-column: 2/ span 5;
    background-color: blue;
    box-shadow: 10px 10px 10px orangered;
  }
  
  .illini {
    padding: 37px 30px;
    margin: 0;
    color: white;
    font-style: italic;
    text-shadow: 2px 2px 2px orange;
    font-family: "Audiowide", sans-serif;
    text-align: center;
    font-size: 20px;
  }
  
  .Kingfisher   {
    width: 40%;
    float: right;
    padding-left: 16px;
  }
}

@media all and (min-width: 60rem){

#wrapper {
    margin: 1em auto;
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: 100px 525px 100px;
    box-shadow: 13px 13px 10px orangered;
  }

  body { 
    max-width: 1200px; margin: 0rem auto; 
    display: grid;
    background-color: whitesmoke;
  }
  
  header {
    grid-column: 2/ span 14;
    height: 100px;
    background-color: blue;
  }
  
  h1 {
    padding: 30px;
    margin: 0;
    color: white;
    font-style: italic;
    text-shadow: 2px 2px 2px orange;
    font-family: "Audiowide", sans-serif;
    font-size: 25px;
  }

  h3 {
    padding: 30px;
    margin: 0;
    color: black;
    font-style: italic;
    text-shadow: 2px 2px 2px orange;
    font-family: "Audiowide", sans-serif;
    font-size: 25px;
  }
  
  nav {
    grid-column: 1/ span 1;
    grid-row: 1;
    background-color: orange;
    grid-row-end: 4;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 183px;
  }
  
  nav ul {
    background-color: white;
    margin: 15px 15px 35px 15px;
    padding: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 110px;
    font-size: 13px;
  }
  
  nav li {   
    background-color: blue;
    display: block;
    margin: 20px -10px 20px -10px;
    text-align: center;
    box-shadow: 10px 10px 10px orangered;
    transition: background-color 1.0s, color 1.0s; 
    font-family: "Audiowide", sans-serif; 
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 125px;
  }
  
  nav li a {
    color:  whitesmoke;
    text-decoration: none;
    display: block;
    padding: 15px;
  }
  
  nav li:hover {
    background-color:orange;
  }
  
  nav li a:hover {
    color: blue;
  }
  
  .uofi {
    width: 110px;
    padding: 0px 0px 0px 0px;
    margin: -32px 0px 4px 37px;
  }
  
  main {
    grid-column: 3/ span 12;
  }
  
  h2 {
    text-align: left;
    text-decoration: underline;
    color: blue;
    text-shadow: 2px 2px 2px orange;
    font-family: "Audiowide", sans-serif; 
    font-size: 30px;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
  }


  footer {
    grid-column: 2/ span 14;
    background-color: blue;
    box-shadow: 13px 13px 10px orangered;
  }
  
  .illini {
    padding: 20px 30px;
    margin: 0;
    color: white;
    font-style: italic;
    text-shadow: 2px 2px 2px orange;
    font-family: "Audiowide", sans-serif;
    text-align: center;
    font-size: 35px;
  }
  
  .Kingfisher   {
    width: 40%;
    float: right;
    padding-left: 16px;
  }
}